RewriteEngine On # Turn on the rewriting engine

# Acessar a página principal
RewriteRule ^/?$ index.php [NC,L]
# View cadastrar usuário
RewriteRule ^usuario/cadastrar/?$ view/signup/viewRegisterUser.php [NC,L]

###### Exemplos de uso ######
# API Particao
##RewriteRule ^particao/?$ particao.php [NC,L]
##RewriteRule ^particao/([0-9]+)/?$ particao.php?id=$1 [NC,L]
##RewriteRule ^particao/([0-9]+)/([0-9]+)/?$ particao.php?cliente_id=$1&controlador_id=$2 [NC,L]
# API Controlador
##RewriteRule ^controlador/?$ controlador.php [NC,L]
##RewriteRule ^controlador/([0-9]+)/?$ controlador.php?id=$1 [NC,L]
##RewriteRule ^controlador/cliente/([0-9]+)/?$ controlador.php?cliente_id=$1 [NC,L]
##RewriteRule ^controlador/serie/(.*)/?$ controlador.php?serie=$1 [NC,L]
##RewriteRule ^controlador/nome/(.*)/?$ controlador.php?nome=$1 [NC,L]
